.wrap > .container {
    padding: 0 15px 20px;
}
#v-pills-tab .active {
    background: #e51b23 !important;
}
.bottom {
    bottom: 0;
}

.right {
    right: 0;
}
/*button*/
.btnSpecial {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    font-size: 24px;
    margin-top: 15px;
}
.btnHover {
    color: red;
    transition: all 0.3s;
    position: relative;
}
.btnHover span {
    transition: all 0.3s;
}
.btnHover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,0,0,0.5);
    border-bottom-color: rgba(255,0,0,0.5);
    transform: scale(0.1, 1);
}
.btnHover:hover span {
    letter-spacing: 2px;
}
.btnHover:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.btnHover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,0,0,0.1);
}
.btnHover:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}
/*endbtn*/
.bgGray {
    background-color: #bfbfbd;
}
.brandFont {
    font-family: "brand";
    text-shadow: 5px 5px 4px #bfb9b9;
}
.fontSzBrand {
    font-size: 62px;
}
.fontSlideTitle {
    font-family: "Times New Roman";
}
.fontSzSlideTitle {
    font-size: 32px;
}
.slideIcon {
    animation-name: slideIcon;
    animation-delay: 2s;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}
@keyframes slideIcon {
    from {color: black;}
    to{color: red;}
}

@media (min-width: 1600px) {
    .slideMinWidth {
        display: none !important;
    }
    .location {
        right: 20px;
        top: 18%;
    }
    .secondItemSlide {
        padding-left: 25px !important;
        margin-left: 25px !important;
    }
    .thirdItemSlide {
        padding-left: 34px;
        margin-left: 34px;
    }
}
@media (min-width: 1460px) and (max-width: 1600px) {
    .location {
        right: 35px;
        top: 20%;
    }
    .fontSzBrand {
        font-size: 50px;
    }
    .fontSzSlideTitle {
        font-size: 30px;
    }
    .secondItemSlide {
        padding-left: 25px !important;
        margin-left: 25px !important;
    }
    .thirdItemSlide {
        padding-left: 34px;
        margin-left: 34px;
    }
    .slideMinWidth {
        display: none !important;
    }
}
@media (min-width: 1250px) and (max-width: 1460px) {
    .location {
        right: 35px;
        top: 17%;
    }
    .fontSzBrand {
        font-size: 42px;
    }
    .fontSzSlideTitle {
        font-size: 28px;
    }
    .slideMinWidth {
        display: none !important;
    }
    .secondItemSlide {
        padding-left: 25px !important;
        margin-left: 25px !important;
    }
    .thirdItemSlide {
        padding-left: 34px;
        margin-left: 34px;
    }
}
@media (min-width: 1130px) and (max-width: 1250px) {
    .location {
        right: 15px;
        top: 15%;
    }
    .fontSzBrand {
        font-size: 42px;
    }
    .fontSzSlideTitle {
        font-size: 30px;
    }
    .secondItemSlide {
        padding-left: 25px !important;
        margin-left: 25px !important;
    }
    .thirdItemSlide {
        padding-left: 34px;
        margin-left: 34px;
    }
    .slideMinWidth {
        display: none !important;
    }
}
@media (min-width: 1100px) and (max-width: 1130px) {
    .location {
        right: 30px;
        top: 17%;
    }
    .fontSzBrand {
        font-size: 36px;
    }
    .fontSzSlideTitle {
        font-size: 26px;
    }
    .secondItemSlide {
        padding-left: 25px !important;
        margin-left: 25px !important;
    }
    .thirdItemSlide {
        padding-left: 34px;
        margin-left: 34px;
    }
    .slideMinWidth {
        display: none !important;
    }
}
@media (min-width: 892px) and (max-width: 1100px) {
    .location {
        right: 15px;
        top: 20%;
    }
    .fontSzBrand {
        font-size: 36px;
    }
    .fontSzSlideTitle {
        font-size: 26px;
    }
    .secondItemSlide {
        padding-left: 25px !important;
        margin-left: 25px !important;
    }
    .thirdItemSlide {
        padding-left: 34px;
        margin-left: 34px;
    }
    .slideMinWidth {
        display: none !important;
    }
    .btnSlide {
        display: none !important;
    }
}
@media (min-width: 800px) and (max-width: 892px) {
    .location {
        right: 10px;
        top: 17%;
    }
    .fontSzBrand {
        font-size: 32px;
    }
    .fontSzSlideTitle {
        font-size: 22px;
    }
    .secondItemSlide {
        padding-left: 25px !important;
        margin-left: 25px !important;
    }
    .thirdItemSlide {
        padding-left: 34px;
        margin-left: 34px;
    }
    .slideMinWidth {
        display: none !important;
    }
    .btnSlide {
        display: none !important;
    }
}
@media (max-width: 800px) {
    .slideMinWidth {
        display: block !important;
    }
    .slideMaxWidth {
        display: none !important;
    }
    .secondItemSlide {
        padding-left: 25px !important;
        margin-left: 25px !important;
    }
    .thirdItemSlide {
        padding-left: 34px;
        margin-left: 34px;
    }
    .btnSlide {
        display: none !important;
    }
}
.btnSlide {
    animation-delay: 1.8s!important;
}
.firstItemSlide {
    animation-delay: 0.3s !important;
}
.secondItemSlide {
    animation-delay: 0.8s !important;
}
.thirdItemSlide {
    animation-delay: 1.3s!important;
}
.offerCard {
    transition: 0.2s;
}
div:hover.offerCard {;
    box-shadow:2px 10px 16px 5px #817d7d;
}
.offerIcon {
    transition: 0.2s;
}
div:hover>.offerIcon {
    transform: translateY(45px);
}
a {
    text-decoration: none !important;
}
.fontTitle {
    font-family: "Times New Roman";
    font-size: 42px;
    font-weight: bold;
}
.iIcon {
    color: darkred;
}
.row-full {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}
.optionsChoose {
    transition: 0.2s;
}
div:hover.optionsChoose {
    transform: translateX(-15px);
    background-color: #c65252;
    color: white;
}
.main {
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    justify-content:center;
    position: relative;
}
.main1 {
    width: 180px;
    height: 180px;
    z-index: 3;
    background-color: #ffffff;
    border-radius: 50%;
    position:absolute;
    display: flex;
    align-items:center;
    justify-content:center;
}
.main2 {
    position:absolute;
    width: 210px;
    height: 210px;
    z-index: 2;
    background-color: rgba(255,0,0,0.7);
    border-radius: 50%;
    transition: 0.1s;
}
.main3 {
    position:absolute;
    width: 240px;
    height: 240px;
    z-index: 1;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    transition: 0.4s;
}
div:hover.main>.main2 {
    width: 230px;
    height: 230px;
}
div:hover.main>.main3 {
    width: 280px;
    height: 280px;
}
@media (max-width: 576px){
    #optimal {
        display:none;
    }
}
div:hover>.iconFeature{
    visibility: visible!important;
}

@media (max-width: 767px ) {
    .borderPoint {
        border: none !important;
    }
}
.reasonIcon {
    transition: 0.3s;
    font-size: 28px;
    border: 2px solid #dc3545;
}
div:hover>div>.reasonIcon {
    background-color: #dc3545;
    color: #ffffff;
    transform: scale(1.1);
}
.warpper{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.tab{
    cursor: pointer;
    background-color: #dc3545;
    display:inline-block;
    color:#fff;
    border-radius:3px 3px 0px 0px;
    border: 1px solid #dc3545;
    border-bottom: none;
}
.panels{
    background:#fffffff6;
    box-shadow: 0 2rem 2rem #00000080;
    min-height:200px;
    width:100% !important;
    min-width: 100%;
    border-radius:3px;
    overflow:hidden;
    padding:20px;
}
.panel{
    display:none;
    animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.radio{
    display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel{
    display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab{
    background-color: #FFFFFF;
    color: black;
    border-top: 3px solid #dc3545;
}
@media (max-width: 769px){
    .funcRes {
        display: none !important;
    }
}
#h2 {
    text-transform: uppercase;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
}
#carousel {
    width: 100%;
    margin: 0;
}
.img-box {
    width: 15vw;
    height: 15vw;
    margin: 0 auto;
    border-radius: 50%
}
#img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%
}
@media (max-width: 576px){
    .img-box{
        width: 30vw ;
        height: 30vw;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .img-box{
        width: 25vw ;
        height: 25vw;
    }
}
/*carousel clients*/
.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 4;
}
.white-heading{
    color: #ffffff;
}
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading #spanTesti {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading #spanTesti {
    color: #ffffff;
}
/*testomonials*/
.slider {
    width: 100%;
}
.slider input {
    display: none;
}
.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 400px;
    perspective: 1000px;
    overflow: hidden;
}
.testimonials .item {
    top: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 15px;
    padding: 30px;
    width: 450px;
    text-align: center;
    transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
    box-shadow: 0 0 30px rgba(134, 134, 134, 0.3);
    user-select: none;
    cursor: pointer;
}
.testimonials .item img {
    width: 120px;
    border-radius: 50%;
    border: 5px solid #3B344D;
}
.testimonials .item h2 {
    font-size: 14px;
}
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots label {
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: yellow;
    margin: 7px;
    transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
    transform: scale(2);
    background-color: red;
}
#t-1:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
    background-color: orange;
}
#t-1:checked ~ .testimonials label[for="t-1"] {
    z-index: 4;
}
#t-1:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 3;
}
#t-1:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
    z-index: 1;
}
#t-1:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
    transform: scale(1.5);
    background-color: orange;
}
#t-2:checked ~ .dots label[for="t-2"] {
    transform: scale(2);
    background-color: red;
}
#t-2:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
    background-color: orange;
}
#t-2:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-2:checked ~ .testimonials label[for="t-2"] {
    z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 2;
}
#t-2:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    z-index: 1;
}
#t-2:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
    transform: scale(1.5);
    background-color: orange;
}
#t-3:checked ~ .dots label[for="t-3"] {
    transform: scale(2);
    background-color: red;
}
#t-3:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
    background-color: orange;
}
#t-3:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-3:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-3:checked ~ .testimonials label[for="t-3"] {
    z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    z-index: 2;
}
#t-3:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
    transform: scale(1.5);
    background-color: orange;
}
#t-4:checked ~ .dots label[for="t-4"] {
    transform: scale(2);
    background-color: red;
}
#t-4:checked ~ .dots label[for="t-5"] {
    transform: scale(1.5);
    background-color: orange;
}
#t-4:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}
#t-4:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-4:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
    z-index: 2;
}
#t-4:checked ~ .testimonials label[for="t-4"] {
    z-index: 3;
}
#t-4:checked ~ .testimonials label[for="t-5"] {
    transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
}

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
    transform: scale(1.5);
    background-color: orange;
}
#t-5:checked ~ .dots label[for="t-5"] {
    transform: scale(2);
    background-color: red;
}
#t-5:checked ~ .testimonials label[for="t-1"] {
    transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
}
#t-5:checked ~ .testimonials label[for="t-2"] {
    transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
    z-index: 1;
}
#t-5:checked ~ .testimonials label[for="t-3"] {
    transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
    z-index: 2;
}
#t-5:checked ~ .testimonials label[for="t-4"] {
    transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
    z-index: 3;
}
#t-5:checked ~ .testimonials label[for="t-5"] {
    z-index: 4;
}
