@media (min-width: 768px){
    .border-md-right {
        border-right: 1px solid white;
    }
    .borderX {
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
}
.shortName {
    white-space: nowrap;
    width: 176px;
    overflow: hidden;
    text-overflow: ellipsis;
}