.horizontal-line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #C0C0C0;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.horizontal-line span {
    background: #fff;
    padding: 0 10px;
}

.typewriter-text {
    font-family: monospace; /* Web-safe typewriter-like font */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .17em solid pink; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .17em; /* Adjust as needed */
    animation: typing 3.5s infinite steps(30, end), blinking-cursor .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: transparent;
    }
}

@media screen and (min-device-width: 360px) {
    .typewriter-text {
        font-size: 18px;
    }
}

@media screen and (min-width: 360px) {
    .typewriter-text {
        font-size: 18px;
    }
}

.image-responsive {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.avatar-border {
    width: 250px;
    height: 270px;
    object-fit: contain;
    max-width: 100%;
}


.row {
    display: flex;
}

.row--align-v-center {
    align-items: center;
}

.row--align-h-center {
    justify-content: center;
}

.sidenav {
    /*position: fixed;*/
    grid-area: sidenav;
    height: 100%;
    overflow-y: auto;
    background-color: #394263;
    color: #fff;
    /*width: 240px;*/
    /*transform: translateX(-245px);*/
    transition: all 0.6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.sidenav__profile {
    display: flex;
    align-items: center;
    min-height: 90px;
    background-color: rgba(255, 255, 255, .1);
}

.sidenav__profile-title {
    font-size: 17px;
    letter-spacing: 1px;
}

.navList {
    width: 240px;
    padding: 0;
    margin: 0;
    background-color: #394263;
    list-style-type: none;
}

.navList__heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 3px;
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
    font-size: 15px;
}

.navList__subheading {
    position: relative;
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}

.navList__subheading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
    width: 12px;
}

.navList__subheading-title {
    margin: 0 15px;
}

.navList__subheading:after {
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    top: 17px;
    right: 25px;
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transform: rotate(225deg);
    transition: all 0.2s;
}

.navList__subheading:hover {
    background-color: #303753;
    cursor: pointer;
}

.navList .subList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #262c43;
    visibility: visible;
    overflow: hidden;
    max-height: 200px;
    transition: all 0.4s ease-in-out;
}

.navList .subList__item {
    padding: 8px;
    text-transform: capitalize;
    padding: 8px 30px;
    color: #d3d3d3;
}

.navList .subList__item:first-child {
    padding-top: 15px;
}

.navList .subList__item:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}

.navList .subList--hidden {
    visibility: hidden;
    max-height: 0;
}

.color-heading {
    background-color: rgb(77 85 115);
}
